body {
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  font-family: Arial;

}

div#head {
  line-height: 8px;
  font-size:13px;
}


div#menu {
  width:200px;
  float:left;
  height:600px; 
  list-style:none;
}

div#text {

 
  width:900px;

}

.intro {
  font-size: 13px;
}

.item {
  text-align: left;
}

.content {
  text-indent: 1em;
  text-align: left;
}

a{  
  color: white;
  text-align: left;
  text-decoration: none;
}

