body {
  background-color: #274257;
  line-height: 20px;
  font-size: 16px;
  text-align: center;
  font-family: Arial;
}

div#head {
  line-height: 8px;
  color: #DFC184;
  font-size:13px;
}


div#menu {
  width:200px;
  float:left;
  height:600px; 

  margin:0;
  border-right-style: solid;
  border-right-width: 2px;
  border-right-color: #DFC184;
}

div#text {

 
  width:900px;

}
li{
  list-style:none;
}
.choosen {
  background-color: #8F6048;
}
.intro {
  color: #7EB5D6;
  font-size: 13px;
}

.item {
  color: #DFC184;
  text-align: left;
}

.content {
  color: white;
  text-indent: 1em;
  text-align: left;
}

a{  
  color: white;
  text-align: left;
  text-decoration: none;
}

